<% var meta = {
    pageTitle:'Review',
    description:'Review',
    keywords:'Review',
    url:'http://www.example.com/'
  };
  var page={
      root:filePath.dir
  };
%>
<%- include(page.root + 'common/_meta', {param:'param'}); %>
<%- include(page.root + 'common/_header', {param:'param'}); %>


<main class="main">


  <%- include(page.root + 'section/_section1', {param:'param'}); %>
  <%- include(page.root + 'section/_section2', {param:'param'}); %>
  <%- include(page.root + 'section/_section3', {param:'param'}); %>
  <%- include(page.root + 'section/_section4', {param:'param'}); %>
  <%- include(page.root + 'section/_section5', {param:'param'}); %>
  <%- include(page.root + 'section/_section6', {param:'param'}); %>
  <%- include(page.root + 'section/_section7', {param:'param'}); %>
  <%- include(page.root + 'section/_section8', {param:'param'}); %>
  <%- include(page.root + 'section/_section9', {param:'param'}); %>
  <%- include(page.root + 'section/_section10', {param:'param'}); %>
  <%- include(page.root + 'section/_section11', {param:'param'}); %>
  <%- include(page.root + 'section/_section12', {param:'param'}); %>
  <%- include(page.root + 'section/_section13', {param:'param'}); %>
  <%- include(page.root + 'section/_section14', {param:'param'}); %>
  <%- include(page.root + 'section/_section15', {param:'param'}); %>
  <%- include(page.root + 'section/_section16', {param:'param'}); %>
  <%- include(page.root + 'section/_section17', {param:'param'}); %>


</main>

<%- include(page.root + 'common/_footer', {param:'param'}); %>
