<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title><%- meta.pageTitle %></title>

  <meta name="keywords" content="<%- meta.keywords %>">
  <meta name="description" content="<%- meta.description %>">
  <meta property="og:title" content="<%- meta.pageTitle %>">
  <meta property="og:description" content="<%- meta.description %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%- conf.og.img %>">
  <meta property="og:url" content="<%- meta.url %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%- meta.pageTitle %>">

  <link rel="stylesheet" href="<%- conf.path.css %>coding/c-page.css">
  <link rel="stylesheet" href="<%- conf.path.css %>coding/prism.css">
  <script type="text/javascript" src="<%-conf.path.js%>coding/prism.js"></script>
</head>

<body>
